
html, body {
    overflow-x: hidden;
}

.react-player
{
    height: 100%;
    width: 100%;
}
.background_img 
{
    background-image: url("../src/assets/Images/bghome.svg");
}
.gradient-box {
    width: 50%;
    height: 70%;
    background: linear-gradient(to right, rgba(156, 236, 251, 0.6), rgba(101, 199, 247, 0.6), rgba(0, 82, 212, 0.6));
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    top: 50px;
    left: 2px;
    overflow: hidden;
    opacity: 40%;
  }
  .shadow-bg 
  {
    box-shadow: 4px 4px yellow ;
  }
  /* loader */
  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }
  .loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
  }
  .loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #fff;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: inset 0 0 0 0 #fff;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%, 50% {
      box-shadow: 0 0 0 0 #fff;
      opacity: 0;
    }
    100% {
      box-shadow: 0 0 0 1rem #fff;
      opacity: 1;
    }
  }

  .lable-style {
    @apply text-[14px] text-richblack-5;
  }
  .form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }
  .section_heading
  {
    font-size:20px;
    color: white;
    margin: 10px 0px;
    text-decoration: underline;
  }
  




/* Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Set the width of the scrollbar */
   
}

/* Track */
::-webkit-scrollbar-track {
    background: black; /* Set the color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: blue; /* Set the color of the scrollbar thumb (button) */
    border-radius: 3px; /* Set the border radius of the thumb */
  
   
}

/* Button on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(227, 227, 33); /* Change the color of the thumb on hover */
}
  

/* //start logo */
/* Logo.css */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;

  /* Linear gradient with three layers */
  background-image: linear-gradient(135deg, #000000 0%, #020039 50%, #ffffff 100%);
}

.logo {
  width: 200px; /* Initial width of the logo */
  height: auto;
  transition: transform 2s ease-in-out; /* Add transition for smooth animation */
}

.enlarged .logo {
  transform: scale(2000) ; /* Enlarge the logo */
  
}


/* instructor image css */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* review shimmer effect */



@keyframes enhance-color {
  0% {
    filter: brightness(0.7); /* Dim at start */
  }
  50% {
    filter: brightness(1.5); /* Enhanced at midpoint */
  }
  100% {
    filter: brightness(0.7); /* Dim at end */
  }
}

.animated-div {
  animation: enhance-color 2s linear infinite;
}

/* //fetching categories home page text shimmer */



.text-effect {
  animation: color-effect 1s infinite alternate;
}

@keyframes color-effect {
  0% {
    color: rgba(0, 34, 255, 0.5); /* Start with a dim color */
  }
  100% {
    color: rgba(0, 0, 0, 1); /* End with a bright color */
  }
}
